@import "/src/assets/fonts/fonts.css";


.menu {
    color: white;
    list-style: none;
    font-family: lato;
    margin-left: 300px;
}

.menu-number {
    color: white;
}

.menu-number::before {
    color: white;
    content: "( ";
}
.menu-number::after {
    color: white;
    content: " )";
}

.menu>li {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.menu-item:hover::before{
    content: "";
    position: absolute;
    transform: translateY(60px);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    height: 2px;
    background-color: #ff4d00;
}

.menu-item:hover {
    animation-name: horizontal-shaking;
    animation-duration: 0.3s;
}

.menu>li>p {
    margin-right: 30px;
    font-size: 1.2em;
    word-spacing: 15px;
}

.menu-item {
    font-size: 3em;
}

@keyframes horizontal-shaking {
    0% { transform: translateY(0); filter: blur(0) }
    25% { transform: translateY(2px) }
    50% { transform: translateY(-2px); filter: blur(3px) }
    75% { transform: translateY(2px) }
    100% { transform: translateY(0); filter: blur(0) }
}

@keyframes slideIn {
    0% { width: 0}
    100% {width: 120px}
}


@media screen and (max-width: 1350px){
    .menu {
        margin-left: 100px;
    }
}