@font-face {
   font-family: Vermin;
    src: url("src/assets/fonts/vermin/VerminVibes1989.ttf");
}

@font-face {
    font-family: lato-light;
    src: url("lato/Lato-Light.ttf");
}
@font-face {
    font-family: lato-black;
    src: url("lato/Lato-Black.ttf");
}

@font-face {
    font-family: lato;
    src: url("lato/Lato-Regular.ttf");
}