
.name {
    font-size: 20em;
    color: rgb(98, 98, 98, 0.5);
    z-index: -5;
    text-transform: uppercase;
    letter-spacing: -15px;
    top: -20px;
    left: -20px;
    line-height: 250px;
    font-family: lato-black;
    position: absolute;
}
.title {
    height: 300px;
    top: 600px;
    left: -20px;
    font-size: 15em;
    color: rgb(98, 98, 98, 0.5);
    z-index: -5;
    text-transform: uppercase;
    letter-spacing: -15px;
    word-spacing: 40px;
    line-height: 250px;
    font-family: lato-black;
    position: absolute;
}

@media screen and (max-width: 1800px)
{
    .title {
        font-size: 12em;
        top: 600px;
    }
}

@media screen and (max-width: 1400px){
    .title {
        font-size: 10em;
        top: 500px;
    }
    .name {
        font-size: 15em;
    }
}



@media screen and (max-width: 1150px){
    .title {
        font-size: 8em;
        top: 600px;
    }


}

@media screen and (max-width: 950px) {
    .title, .name {
        font-size: 0px;
    }
}
