@import "/src/assets/fonts/fonts.css";

.button-navbar {
    display: flex;
    background: #CCCCCC;
    height: auto;
    width: 300px;
    font-size: 0.4em;
    font-family: lato;
    /*text-transform: uppercase;*/
    border-radius: 120px;
    box-shadow: none;
    border: none;
    /*cursor: pointer;*/
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    letter-spacing: 3px;
}

.navbar-items {
    color: white;
    font-family: lato;
    /*text-transform: uppercase;*/
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: 3em;
    height: 50px;

}

