body {
  background: #202020;

}
#root {
  height: 90vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: none;
  text-decoration: none;
  overflow: hidden;
}

a {
  color: white;
}

.round{
  position: absolute;
  width: 40px;
  height: 40px;
  mix-blend-mode: color-dodge;
  border-radius: 20px;
  background-color: #ff4d00;
  z-index: 50;
  pointer-events: none;
}
.scene {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 90vh;
}